:root {
    /* --background: #fff;
    --text-color: #003049;

    --keyword-color: #480ca8;
    --name-color: #f77f00;
    --key-color: #f72585;
    --value-color: #4361ee; */

    /* --background: #282c34;
    --text-color: #c678dd;

    --keyword-color: #c678dd;
    --name-color: #ffd700;
    --equals-color: #61afef;

    --key-color: #e06c75;
    --value-color: #98c379; */

    --background: #fffffc;
    --text-color: #073b4c;

    --keyword-color: #81b29a;
    --name-color: #ef476f;
    --equals-color: #118ab2;

    --key-color: #ef476f;
    --value-color: #118ab2;

    --font-family: monospace;
    --line-height: 20px;
}

body {
    background-color: var(--background);
    color: var(--text-color);
    font-size: 1.1rem;
}

pre {
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    position: absolute;
    line-height: var(--line-height);
    white-space: pre-wrap;
    font-family: var(--font-family);
}

.keyword {
    color: var(--keyword-color);
}

.name {
    color: var(--name-color);
}

.equals {
    color: var(--equals-color);
}

.key {
    color: var(--key-color);
}

.value {
    color: var(--value-color);
}

a {
    border: none;
    cursor: pointer;
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid var(--value-color);
}

.item {
    line-height: 22px;
}
