body {
    color: #003049;
    font-size: 1.1rem;
}

pre {
    position: absolute;
    padding: 10px;
    line-height: 20px;
    white-space: pre-wrap;
    font-family: monospace;
}

.name {
    color: #f77f00;
}

.keyword {
    color: #480ca8;
}

.key {
    color: #f72585;
}

.value {
    color: #4361ee;
}

a {
    border: none;
    cursor: pointer;
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid #4361ee;
}

.item {
    line-height: 22px;
}
